<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Change yourmobileaccount to your phone's Skype username -->
    <add key="SkypeMobileUsername" value="yourmobileaccount"/>
    
    <!-- Shortcut numbers -->
    <add key="ShortCut1" value="+44xxxxxxxxxx"/>
    <add key="ShortCut2" value="+44xxxxxxxxxx"/>
    <add key="ShortCut3" value="+44xxxxxxxxxx"/>
    <add key="ShortCut4" value="+44xxxxxxxxxx"/>
    <add key="ShortCut5" value="+44xxxxxxxxxx"/>

    <!--
      Optional SkypeIn mappings
      If you have multiple SkypeIn numbers assigned to your PC
      account and you would like to forward any of them to
      different phone numbers or Skype users then add mappings for
      them below. Leave the values blank if you just want all SkypeIn
      calls to redirect to your mobile.
      
      Add keys in the format:
      SkypeInNumber>TargetNumber
      for example, if you have two SkypeIn numbers assigned to your PC
      account and you want to direct one of them (let's say +44201234567)
      to the landline number +44141555555 then you would change the first
      entry to look like this:
      <add key="SkypeInMapping1" value="+44201234567>+44141555555"/>
    -->
    <add key="SkypeInMapping1" value=""/>
    <add key="SkypeInMapping2" value=""/>
    <add key="SkypeInMapping3" value=""/>

  </appSettings>
</configuration>