<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Change yourmobileaccount to your phone's Skype username -->
    <add key="SkypeMobileUsername" value="yourmobileaccount"/>
    
    <!-- Shortcut numbers -->
    <add key="ShortCut1" value="+44xxxxxxxxxx"/>
    <add key="ShortCut2" value="+44xxxxxxxxxx"/>
    <add key="ShortCut3" value="+44xxxxxxxxxx"/>
    <add key="ShortCut4" value="+44xxxxxxxxxx"/>
    <add key="ShortCut5" value="+44xxxxxxxxxx"/>
    
  </appSettings>
</configuration>